@import 'styles/theme.css';
@import url('https://fonts.cdnfonts.com/css/teleneo-office');

* {
    font-family: var(--styles-fonts-font-family-primary), sans-serif !important;
    text-transform: var(--styles-fonts-font-case-case1);
  }
  
  body {
    padding: 60px;
    background-color: var(--styles-colors-secondary-grey4);
  }